<div class="card p-3">
  <div class="row">
    <div class="col-12">
      <h5 class="text-center">{{taskToShow.name}}</h5>
    </div>
  </div>
  <div class="row">
      <div class="col-12">
        <p class="small text-center">{{taskToShow.baker}}</p>
      </div>
  </div>
  <div class="row">
    <div class="col-6">
      <img [src]="taskToShow.image" style="width: 250px">
    </div>
    <div class="col-6">
      <h6>Average Rating:</h6>
      <p>{{taskToShow.average_rating}}</p>
      <h6 class="mt-4">All Ratings:</h6>
      <div *ngFor="let rating of taskToShow.ratings" class="mb-3">
        <p>"{{rating.comment}}"</p>

        <i *ngIf="rating.rating == 1" class="material-icons">star star_border star_border star_border star_border</i>
        
        <i *ngIf="rating.rating == 2" class="material-icons">star star star_border star_border star_border</i>

        <i *ngIf="rating.rating == 3" class="material-icons">star star star star_border star_border</i>

        <i *ngIf="rating.rating == 4" class="material-icons">star star star star star_border</i>

        <i *ngIf="rating.rating == 5" class="material-icons">star star star star star</i>

      </div>
    </div>
  </div>

</div>
